<div class="page-container">
  <!-- Title Section -->
  <header class="header">
    <div class="header-logo">
      <img src="/assets/tclogo.png" alt="Traffic Cannon Logo" class="logo" />
      <h1>Traffic Cannon</h1>
    </div>
     
    <div class="header-buttons">
      <button
        pButton
        type="button"
        label="Login"
        icon="pi pi-sign-in"
        class="p-button-rounded p-button-secondary"
        (click)="onLogin()"
      ></button>
      <button
        pButton
        type="button"
        label="Signup"
        icon="pi pi-user-plus"
        class="p-button-rounded p-button-success"
        (click)="onSignup()"
      ></button>
    </div>
  </header>
  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-content">
      <h2>Boost Your Business with Our Advanced Advertising Solutions</h2>
      <p>
        Discover the power of data-driven advertising to reach your target
        audience effectively.
      </p>
      <button class="p-button p-component p-button-rounded">Get Started</button>
    </div>
  </section>
  <!-- Benefits Section -->
  <section class="benefits">
    <h2>Why Choose Our Platform?</h2>
    <div class="p-grid">
      <div class="p-col">
        <i class="pi pi-chart-line"></i>
        <h3>Data-Driven Insights</h3>
        <p>Leverage analytics to optimize your advertising campaigns.</p>
      </div>
      <div class="p-col">
        <i class="pi pi-users"></i>
        <h3>Targeted Reach</h3>
        <p>Connect with the right audience at the right time.</p>
      </div>
      <div class="p-col">
        <i class="pi pi-globe"></i>
        <h3>Global Presence</h3>
        <p>Expand your reach to international markets.</p>
      </div>
      <div class="p-col">
        <i class="pi pi-dollar"></i>
        <h3>Cost-Effective</h3>
        <p>Maximize your ROI with our budget-friendly solutions.</p>
      </div>
    </div>
  </section>
  <!-- Footer Section -->
  <footer>
    <div class="footer-links">
      <a (click)="onClickFaq()">FAQ</a> 
      <a (click)="onClickTermsOfService()">Terms of Service</a>
      <a (click)="onClickPrivacyNotice()">Privacy Notice</a>
      <a (click)="onClickCookiePolicy()">Cookie Policy</a> 
      <a (click)="onClickAbout()">About</a>
    </div>
    <div class="social-icons">
      <a href="https://www.facebook.com" class="pi pi-facebook"></a>
      <a href="https://www.twitter.com" class="pi pi-twitter"></a>
      <a href="https://www.linkedin.com" class="pi pi-linkedin"></a>
      <a href="https://www.instagram.com" class="pi pi-instagram"></a>
    </div>
    <p class="copyright">&copy; 2024 Jamintech, LLC. All Rights Reserved.</p>
  </footer>
</div>
