:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header-container {
  display: flex;
  background-color: #0e0bc3 !important;
}

.header-container p-button {
  margin-right: 5px;
  height: 60px;
}
app-header {
  flex: 1;
}

section {
  flex-shrink: 0; /* Ensure sections take only the height they need */
}

.site-frame {
  // border: 5px solid orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex-grow: 1; /* Take the remaining height */
  overflow: auto;
}

.iframe-wrapper {
  flex: 1;
  display: flex;
  width: 100%; /* Ensure the wrapper takes full width */
  height: 100%; /* Ensure the wrapper takes full height */
}

.siteurl {
  font-size: 0.5em;
  font-weight: 400;
  text-align: left;
  margin: 2px;
  color: white;
}

.gravatar {
  margin: 0px;
  margin-left: 5px;
  width: 60px;
  height: 60px;
}

.membername {
  font-size: 0.8em;
  font-weight: 700;
  text-align: left;
  margin: 2px;
  color: white;
}

.memberdata {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 5px;
}

.countdown-circle {
    margin-left: 10px;
    margin-right: 5px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-group {
  display: flex;
  align-items: center;
}

.member-banner {
  margin-left: auto;
}
.banner {
  height: 60px;
  width: 468px;
}